.container-fluid {
    background-color: rgb(220, 220, 220);
}

section {
        background-color: rgb(220, 220, 220);
        padding-top: 50px;
        padding-bottom: 50px;
}

.splash {
       background-color: rgb(220, 220, 220); 
}


.display-4 {
    padding-top: 50px;
}


.lead {
    padding-bottom: 50px;
}


.headbox {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
    text-align: center; 
    width: 200px; 

}



/*--------------------------------------Footer-----*/

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}